body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f6fa;
  color: #111;
}

.header {
  background: #2563eb;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 14px;
}

.btn {
  display: block;
  text-align: center;
  padding: 14px;
  margin-top: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: #2563eb;
  color: white;
}

.secondary {
  background: #fde68a;
  color: #000;
}

.product-img {
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 0 auto;
}

.product-name {
  text-align: center;
  font-weight: bold;
}

.qty {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.qty button {
  width: 45px;
  font-size: 20px;
}

.qty input {
  width: 60px;
  text-align: center;
  font-size: 18px;
}
